
.index__container-slider-fluid {
  width: 100%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%),
  linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%);
  background-size: 24% 100%,
  75% 189px;
  background-position: left 100%;
  margin-bottom: 105px;
  &--reverse {
    background-image: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%),
    linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%);
    background-size: 24% 100%,
    75% 189px;
    background-position: right 100%;
  }
}

.index__catalog-container {
  max-width: 1068px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--reverse {
    flex-direction: row-reverse;
    .index__catalog-country-container {
      text-align: right;
    }
    .index__see-all::after {
      right: auto;
      left: -50px;
    }
  }
}

.index__catalog-country-container {
  font-family: "Montserrat-ExtraBold";
}

.index__catalog-country {
  font-size: 55px;
  line-height: 58px;
  &--restaurant {
    display: inline-block;
    z-index: 2;
    position: relative;
    &::after {
      content: 'Restaurant';
      color: white;
      width: 12%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
    }
  }
}

.index__see-all {
  font-size: 9px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    background-color: black;
    height: 1px;
    width: 45px;
  }
}

.index__slider-item {
  width: 257px;
  height: 432px;
  font-family: "Montserrat-ExtraBold";
  position: relative;
}

.index__slider-item {
  width: 257px;
}

.index__slider-free {
  display: block;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 49px;
  max-width: 100%;
  height: 49px;
  background-color: #e9013c;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  z-index: 1;
  box-sizing: border-box;
  span {
    font-size: 20px;
  }
}

.index__slider-img {
  display: block;
}

.index__slider-text {
  padding-left: 21px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Montserrat-Bold";
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s all ease-out;
}

.index__slider-capodanno {
  font-family: "Montserrat-Regular";
  color: #ffffff;
  font-size: 9px;
  margin: 0;
}

.index__slider-country {
  margin-top: 7px;
  font-size: 29px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 30px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 45px;
    background-color: #ffffff;
  }
}

.index__slider-price {
  margin: 0;
  font-size: 20px;
  sup {
    font-family: "Montserrat-Medium";
    font-size: 12px;
  }
}

.index__slider-hover {
  font-family: "Montserrat-ExtraBold";
  height: 0;
  margin-top: 40px;
  transition: 0.7s all ease;
  overflow: hidden;
}

.index__slider-hover-button {
  display: block;
  text-align: center;
  width: 167px;
  height: 33px;
  text-transform: uppercase;
  line-height: 33px;
  font-size: 12px;
  color: #e9013c;
  border: 1px solid #e9013c;
  box-sizing: border-box;
  margin-bottom: 17px;
  font-weight: normal;
  font-style: normal;
}

.index__slider-hover-link {
  font-size: 9px;
  color: #ffffff;
  position: relative;
  &::after {
    content: '';
    top: 50%;
    right: -60px;
    position: absolute;
    background-color: #ffffff;
    width: 45px;
    height: 1.7px;
  }
}

.index__slider-item:hover {
  .index__slider-text {
    background-color: rgba(0, 0, 0, 0.64);
  }
  .index__slider-hover {
    padding-bottom: 15px;
    height: 88px;
  }
}

.index__slider-main-container {
  width: 790px;
  height: 531px;
  position: relative;
}

.index__slider-container {
  .slick-next,
  .slick-prev {
    width: 17px;
    height: 30px;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-size: 100%;
    top: auto;
    bottom: -60px;
    transform: none;
    &::before {
      display: none;
    }
    &:hover,
    &:focus {
      background-image: url("../img/next.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    left: auto;
    right: 63px;
  }
  .slick-next {
    right: 7px;
  }
  .slick-disabled {
    opacity: 0.6;
  }
}

.index__slider-counter {
  position: absolute;
  bottom: 27px;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  font-family: "Montserrat-ExtraBold";
  font-size: 12px;
}

.index__slider-current {
  color: #e9013c;
  width: 27px;
}

.index__slider-counter-decor {
  color: #d9d9d9;
  width: 81px;
  height: 1px;
  background-color: #000000;
  margin-right: 14px;
}

.index__slider-all {
  color: #d9d9d9;
  min-width: 27px;
}

.index__slider-current {
  transition: 0.4s all ease;
}

.restaurant__slide-container {
  margin-right: -20%;
}

@media (max-width: 1150px) {
  .index__catalog-container {
    max-width: 800px;
  }
  .index__slider-main-container {
    height: 531px;
    width: 528px;
  }
  .index__catalog-country--restaurant {
    &::after {
      width: 14%;
    }
  }
}

@media (max-width: 830px) {
  .index__catalog-country--restaurant {
    &::after {
      width: 10%;
    }
  }
  .index__catalog-container {
    max-width: 550px;
  }
  .index__slider-main-container {
    height: 531px;
    width: 264px;
  }
}

@media (max-width: 614px) {
  .restaurant__slide-container {
    margin-right: 0;
  }
  .index__catalog-country {
    text-align: left;
    br {
      display: none;
    }
  }
  .index__catalog-country--restaurant {
    &::after {
      display: none;
    }
  }
  .index__catalog-country-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  .index__catalog-country {
    font-size: 44px;
    margin-bottom: 10px;
    line-height: normal;
    align-self: flex-start;
  }

  .index__see-all {
    &::after {
      right: auto;
      left: -50px;
    }
  }
  .index__catalog-container {
    flex-direction: column;
    max-width: 520px;
  }
  .index__slider-main-container {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .index__catalog-country {
    font-size: 34px;
  }
  .index__catalog-container {

    width: 300px;
    flex-direction: column;
    box-sizing: border-box;
  }
  .index__slider-main-container {
    margin: 0 auto;
    width: 260px;
  }
}
