.body {
	max-width: 1200px;
	font-family: "Arial", sans-serif;
	padding: 0 18px;
	font-size: 13px;
	line-height: 16.96px;
	width: 1164px;
	margin: 0 auto;
}

@media(max-width: 1199px) {
	.body {
		width: 966px;
	}
}

@media(max-width: 999px) {
	.body {
		width: 580px;
	}
}

@media(max-width: 599px) {
	.body {
		width: 400px;
	}
}
