.time-open ul {
	padding: 0;
	list-style: none;
	line-height: 22px;
	margin: 0;
}

.time-open__time-bold {
	font-weight: bold;
}

@media (max-width: 999px) {
	.time-open {
		display: flex;
		margin-right: 35px;
		margin-bottom: 20px;
	}
	.time-open ul {
		width: 50%;
	}
}
