.main-news {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.25px;
  padding-top: 38px;
  padding-left: 90px;
  min-height: calc(100vh - 170px);
  background-color: #f4f4f4;
  .filter-button-open,
  .logo-portfolio {
    right: 30px;
  }
  .filter-button-open {
    transition: 0.4s all ease;
    &--hidden {
      opacity: 0;
    }
  }
}

@media (max-width: 600px) {
  .main-news {
    padding-left: 0;
    padding-top: 0;
  }
  .main-news {
    .filter-button-open,
    .logo-portfolio {
      right: 20px;
    }

  }
}