.popup {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 0 10px #000;
	font-size: 20px;
	line-height: 30px;

}

#setCookie {
	display: inline-block;
	min-height: 31px;
	line-height: 18px;
	margin-top: 2px;
	backface-visibility: hidden;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #003865;
	color: #003865;
	overflow: hidden;
	padding: 2px 12px;
	text-align: center;
	text-transform: uppercase;
	transition-duration: .4s;
	transition-property: color, background-color;
	font-weight: bold;
	cursor: pointer;
}

#setCookie:hover {
	background-color: #003865;
	border: 1px solid #003865;
	color: #fff;
