$widthMarket: 1440;
@function vw($target) {
  //Переводит px в vw
  $vw-context: ($widthMarket * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}
//шаблон подлкючения шрифта $name должен соответствовать имени файла шрифта
@mixin font($name, $format) {
  @font-face {
    font-family: $format;
    src: url("../fonts/" + $name + '.' + $format) format($format);
    font-weight: normal;
    font-style: normal;
  }
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
//-----------------------

$main-color: #ffdd58;
$padding-desctop: 0 70px;
$padding-tablet: 0 50px;
$padding-mobile: 0 20px