.order-empty {
    display: flex;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 15px;
}

.order-empty__wrapper {
    padding: 10px 0;
    box-sizing: border-box;
    margin: auto;
    font-family: Montserrat-Bold;
    text-align: center;
    background-color: white;
    width: 100%;
}

.order__button-empty {
    margin: 0 auto;
    line-height: 25px;
    width: auto;
    max-width: none;
}