.order {
  width: 100%;
  max-width: 1068px;
  margin: 0 auto;
}
.order--container {
  width: 100%;
  background-color: #f9f9f9;
}
.order__steps {
  display: flex;
}

.order__step {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  padding-right: 59px;
  position: relative;
  margin-right: 15px;
  color: #9d9d9d;
  transition: 0.4s all ease;
  &--active {
    color: #000000;
    &::after {
      background-color: #000000;
    }
  }
  &::after {
    content: '';
    height: 1px;
    width: 45px;
    background-color: #9d9d9d;
    position: absolute;
    right: 0;
    top: 50%;
    transition: 0.4s all ease;
  }
}

.order__button {
  color: #e9013c;
  max-width: 167px;
  width: 100%;
  min-height: 33px;
  display: block;
  text-align: center;
  line-height: 33px;
  border: 1px solid #e9013c;
  box-sizing: border-box;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Montserrat-ExtraBold;
  transition: .3s all ease;
  outline: none;
  &:focus,
  &:hover {
    background-color: red;
    color: #fff;
  }
  &--black {
    border-color: black;
    color: black;
    &:hover {
      background-color: black;
    }
  }
}

.step-event__next-container,
.step-event__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-event__control {
  margin-top: 39px;
}
.step-event__next-container {
  flex-grow: 0.17;
}

.step-event__all-total {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  span {
    font-family: "Montserrat-ExtraBold";
    font-size: 20px;
  }
  sup {
    font-size: 12px;
  }
}


