.video__container {
  cursor: pointer;
  &--full {
    cursor: nw-resize;
    z-index: 10;
    .container__full-video--active {
      display: flex;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      .container__full-video--bg {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-color: black;
      }
      video {
        margin: auto;
        z-index: 10;
      }
    }
  }
}

.video__main {
  width: 100%;
  max-width: 1202px;
  height: auto;
  margin: 0 auto;
  position: relative;
  video {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.video__play-button {
  position: absolute;
}
