.blog {
  padding: $padding-mobile;
  padding-top: 95px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.blog_title-category-wrapper {
  text-align: left;
  text-transform: uppercase;
  margin-top: 80px;
}

.blog_title-category {
  font-size: 6vw;
  font-weight: 900;
  margin: 0;
}

.blog_subtitle-category {
  font-size: 3vw;
  font-weight: 500;
}


.blog__next {
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  display: block;
  font-size: 10px;
}

@media (min-width: 768px) {
  .blog {
    padding: $padding-tablet;
    padding-top: 95px;
  }

  .blog_title-category-wrapper {
    text-align: center;
  }
}


@media (min-width: 100px) {
  .blog_title-category {
    font-size: 34px;
  }

  .blog_subtitle-category {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {

  .blog {
    padding: 0;
    padding-top: 171px;
    .wrapper {
      padding: 0 200px;
    }
  }

}



