//header на второстепенных страницах
.burger-secondaryPage,
.header-secondaryPage__h1 {
  margin: 0 auto;
  text-align: center;
}
.burger-secondaryPage {
  opacity: 1;
  transition: 1s opacity ease;
  &--disabled {
    opacity: 0;
  }
}
.header-secondaryPage {
  padding-top: 27px;
}

.header-secondaryPage__h1 {
  position: relative;
  font-weight: normal;
  font-family: "Didot", serif;
  font-size: 100px;
  line-height: 100px;
  margin-top: 65px;
  margin-bottom: 95px;
  width: fit-content;
  &::after {
    position: absolute;
    content: '';
    top: 66%;
    left: -7%;
    margin: 0 auto;
    transform: translateY(-66%);
    width: 115%;
    height: 5px;
    background-color: red;
    transition: 0.3s all ease;
  }
}

.burger-secondaryPage .burger-secondaryPage__el {
  background-color:#000000;
  &::after,
  &::before {
    background-color: #000000;
  }
}

@media (max-width: 600px) {
  .header-secondaryPage__h1 {
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 80px;
    &::after {
      height: 3px;
    }
  }
}
@media (max-width: 450px) {
  .header-secondaryPage__h1 {
    font-size: 45px;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 45px;
  }
}
