.blog-article {
  display: block;
  text-transform: uppercase;
  p {
    font-weight: 500;
    font-size: 8px;
  }
  h3 {
    font-size: 15px;
    font-weight: 900;
    margin: 0;
  }
}

.blog-article {
  text-decoration: none;
  color: #222222;
  background-color: #ffdd58;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog-article__wrapper {
  padding: 15px 17px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-articles--all-blog .blog-article{
  &--1 {
    background-image: url("../img/left-top.jpg");
  }
  &--2 {
    .blog-article__wrapper {
      background-color: transparent;
    }
  }
  &--6,
  &--3 {
    background-image: url("../img/right-bg.jpg");
    align-items: flex-end;
    display: flex;
    .blog-article__wrapper {
      height: auto;
    }
  }
  &--4 {
    background-image: url("../img/center-bg.jpg");
  }
}

.blog-articles--all-blog-2 .blog-article{
  &--2 {
    background-image: url("../img/center-bg.jpg");
  }
  &--3 {
    background-image: url("../img/center-bg.jpg");
  }
  &--5 {
    background-image: url("../img/right-bg.jpg");
    align-items: flex-end;
    display: flex;
    .blog-article__wrapper {
      height: auto;
    }
  }
}
