.blog_all-container {
  text-align: center;
  margin-top: 90px;
}

.blog_all-title {
  font-size: 34px;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.blog_all-subtitle {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px 0;
}

.container {
  display: grid;
  grid-template-areas: "left-top center-1 right" "left-bottom center-2 right" "left-bottom center-3 right";
  grid-template-rows: repeat(3, minmax(180px, auto));
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
  .blog_all-item-wrapper,
  > a {
    text-align: left;
    display: flex;
    background-color: #ffdd58;
    padding: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

}

.container--blog-category {
  grid-template-areas:
          "left-top center-1 right"
          "left-bottom center-2 right"
          "left-bottom center-3 right";


}

.blog_all-see-all {
  text-align: right;
  width: 100%;
  display: block;
  font-size: 10px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.left-top {
  grid-area: left-top;
  background-image: url("../img/left-top.jpg");
  background-size: cover;
}

.center-1 {
  grid-area: center-1;
}

.right {
  grid-area: right;
  display: flex;
  align-items: flex-end;
  background-image: url("../img/right-bg.jpg");
  background-position: top center;
  background-size: contain;
}

.left-bottom {
  grid-area: left-bottom;
  display: flex;
  align-items: flex-end;
  background-image: url("../img/left-bottom-bg.jpg");
  background-position: top center;
  background-size: contain;

}

.center-3 {
  grid-area: center-3;
}

.center-2 {
  grid-area: center-2;
  background-image: url("../img/center-bg.jpg");
  background-size: cover;
}

.blog_all {
  margin-bottom: 40px;
  .wrapper {
    padding: $padding-desctop;
  }
}

.blog__text-wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 15px 18px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0;
    text-transform: uppercase;
    font-size: 8px;
  }

  &--left-bottom,
  &--right {
    height: auto;
  }
  &--transparent-bg {
    background-color: transparent;
  }
}

.blog__text-title {
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
}


@media (max-width: 1000px) {
  .container {
    display: block;

    > a {
      margin-bottom: 20px;
      background-image: none;
    }
  }

  .blog__text-wrapper {
    align-items: center;
  }
}


@media (max-width: 768px) {
  .blog_all {
    .wrapper {
      padding: $padding-mobile;
    }
  }

  .blog__text-wrapper {
    align-items: flex-start;
  }
  .blog_all-title {
    font-size: 6vw;
  }
  .blog_all-subtitle {
    font-size: 3vw;
  }
}

