.footer {
  background-image: url("../img/main__bg.jpg");
  padding: 0 20px;
}

.footer__form-container {
  margin-bottom: 60px;
  h2 {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
}

.footer__button {
  margin-top: 30px;
  background-color: $main-color;
  width: 180px;
  &:hover {
    background-color: #fcbc05;
  }
}

.footer-submit {
  p {
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
  }
}

.footer__contact-item {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
  p {
    margin-top: 0;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
  }
  a {
    display: block;
    margin-top: 2px;
    font-size: 9px;
    font-weight: 500;
    color: #222222;
    text-decoration: none;
    line-height: 9px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-repeat: no-repeat;
  }
  &--whatsapp::after {
    width: 19px;
    height: 19px;
    left: 3px;
    background-image: url('../img/whatsapp.svg');
  }
  &--skype::after {
    width: 20px;
    height: 18px;
    left: 2px;
    background-image: url('../img/skype-logo.svg');
  }
  &--email::after {
    width: 21px;
    height: 16px;
    left: 4px;
    background-image: url('../img/mail.svg');
  }
  &--viber::after {
    width: 19px;
    height: 21px;
    top: 51%;
    left: 4px;
    background-image: url('../img/viber.svg');
  }
}

.footer__social {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  p {
    display: block;
    margin-left: auto;
    text-transform: uppercase;
  }
}

.footer__contact-items {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer {
    background: url("../img/xabout.png") no-repeat 38% 0%,
    url("../img/main__bg.jpg");
    background-size: 52px, auto;
    padding: 0 50px;
    padding-top: 50px;
  }

  .form-item {
    width: 30%;
    input {
      width: 100%;
    }
    &:last-of-type {
      width: 100%;
    }
  }

  .form-item--comment {
    width: 100%;
  }

  .footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__contact-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer__contact-item {
    width: 40%;
    padding-left: 37px;
    &::after {
      height: 25px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    a {
      font-size: 13px;
      line-height: 15px;
    }

    &--whatsapp::after {
      width: 27px;
      height: 27px;
      left: 3px;
    }
    &--skype::after {
      width: 26px;
      height: 25px;
      left: 2px;
    }
    &--email::after {
      width: 30px;
      height: 23px;
      left: 4px;
    }
    &--viber::after {
      width: 23px;
      height: 24px;
    }
  }
}
@media (min-width: 800px) {
  .footer__contact-items {
    flex-wrap: nowrap;
  }
    .footer__contact-item {
      width: auto;
  }
}
@media (min-width: 1024px) {
  .footer__form-container {
    display: flex;
    h2 {
      width: 100%;
      max-width: 237px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .footer__form {
    max-width: 715px;
    margin-left: 20px;
    margin-top: 45px;
    .form-item {
      max-width: 180px;
    }
    .form-item--comment {
      width: 64%;
      max-width: 448px;
    }
  }

  .footer-submit {
    display: flex;
    align-items: center;
    margin-top: 40px;
    p {
      max-width: 328px;
    }
  }

  .footer__button {
    margin-top: 0;
    margin-right: 33px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 0 200px;
    padding-top: 100px;
  }
}
