@font-face {
  font-family: "AvenirNextCyr-Regular";
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZopaCyr";
  src: url("../fonts/ZopaCyr.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
