@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ZopaCyr";
  src: url("../fonts/ZopaCyr.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
