body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

input:focus {
  outline: none;
}

$padding-desktop: 5.5%;
$padding-desktop-top-bottom: 70px;

$nav-color: #fff;

$main-size-text: 14px;
$text-color: #fff;
$text-color-dark: #3f4246;

$bg-color-main: #fff;
$bg-color: rgb(229, 21, 99);
$button-color: #bef574;

$h-font-family: 'ZopaCyr';
$button-family: 'ZopaCyr';
$text-family: "OpenSans-Semibold";

$text-size-mobile: 12px;
$h3-size: 20px;
$h3-letterSp: 0.1em;

.main {
  color: $text-color-dark;
  font-family: $text-family;
  width: 100%;
  width: 100%;
  background-color: $bg-color-main;
}

.h2 {
  font-family: $h-font-family;
  font-size: 40px;
  letter-spacing: $h3-letterSp;
  text-transform: uppercase;
  color: $bg-color;
}

.button {
  background-color: transparent;
  font-family: $button-family;
  text-transform: uppercase;
  border: 1px solid $text-color;
  transition: all 0.4s ease;
  animation: button alternate ease-in-out 2s infinite;
  letter-spacing: 1px;
  min-height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-appearance: none;
  min-width: 340px;
  &:hover {
    animation: none;
    background-color: $button-color;
    color: $text-color-dark;
  }
  &--red {
    border-color: $text-color-dark;
    color: $text-color-dark;
    animation: button-red alternate ease-in-out 2s infinite;
    &:hover {
      background-color: $button-color;
    }
  }
}

.body {
  font-size: 16px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes button {
  0% {
    background-color: transparent;

  }

  50% {
    background-color: $button-color;
    color: $text-color-dark;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes button-red {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: $button-color;
    color: $text-color-dark;
    border-color: $button-color;
  }

  100% {
    background-color: transparent;
  }
}

@media (max-width: 1000px) {
  .h2 {
    font-size: 30px;
  }
  .body {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .h2 {
    font-size: 20px;
  }
  h2.h2 {
    font-size: 25px;
  }
  .body {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .button {
    min-width: auto;
  }

}


