.characteristic {
	overflow: hidden;
	position: relative;
	padding-left: 81px;
	padding-right: 81px;
	display: flex;
	align-items: center;
	min-height: 100vh;
	.container {
		width: 50%;
	}
}

.characteristic__text {
	max-width: 405px;
	margin-left: auto;
}
.characteristic__text ul{
	list-style: none;
	padding-left: 0;
}

.characteristic__text img {
	position: absolute;
	right: 0;
	top: 59%;
	transform: translateY(-50%);
	z-index: -1;
}