.footer {
  font-family: "Robotobold";
  font-style: normal;
  font-weight: normal;
  width: 100%;
  padding: 0 81px;
  padding-top: 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 20;
  color: #9e9e9e;
  text-align: center;
  &--hiden {
    display: none;

  }
}

.footer__info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer__nav {
  list-style: none;
  padding: 0;
  display: flex;
  a {
    text-decoration: none;
    color: #6c6c6c;
  }
  li {

    &:not(:last-of-type){
      margin-right: 37px;
    }
  }
}


.footer__social {
  display: flex;

  a:not(:last-of-type) {
    margin-right: 35px;
  }
}
.footer__nav a {
  &:hover {
    opacity: 0.7;

  }
  &:focus {
    color: #2c2c2c;
  }
}
@media (max-width: 1279px) {
  .footer {
    font-size: 16px;
  }
	.footer__info {
		height: auto;
    justify-content: center;
    flex-wrap: wrap;
	}

  .footer__nav {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 815px) {
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 747px) {
  .footer {
    font-size: 14px;
  }
  .footer__nav {
    flex-wrap: wrap;
    li {
      width: 50%;
      &:not(:last-of-type){
        margin-right: 0;
      }
    }
  }
}

@media all and(max-width: 719px) {
  .footer__nav li {
    width: 100%;
  }
}
