.reviews {
  padding: 0 81px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.reviews__container {
  width: 100%;
}
.reviews__text {
  margin: 0 auto;
  font-family: "Arvo";
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 46px;
  color: #2c2c2c;
  max-width: 790px;
}

.reviews__autor-checked {
  width: 100%;
  height: 3px;
  background-color: #e8e9ed;
}


.reviews__autor-container {
  display: flex;
  justify-content: space-around;
}


.reviews__autor {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 163px;
  img {
    border-radius:  50%;
  }
}
