.service-decryption {
  padding: $padding-desctop;
  padding-top: 171px;
  padding-bottom: 125px;
  background-image: url("../img/xabout.png"), url("../img/roundabout.png");
  background-repeat: no-repeat;
  background-position: 80% 32%, 20% 95%;
}

.service-decryption__title {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.9px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.service-decryption__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 72px;
}

.service-decryption__items {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-decryption__item {
  padding-left: 22px;
  font-weight: 800;
  letter-spacing: 0.35px;
  display: flex;
  width: 30%;
  margin-bottom: 70px;
  align-items: center;
  span {
    display: block;
    min-width: 23px;
    min-height: 23px;
    border-radius: 50%;
    background-color: $main-color;
    color: white;
    font-size: 12px;
    font-weight: normal;
    position: relative;
    margin-right: 35px;
    text-align: center;
    line-height: 23px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &::after {
      background-image: url("../img/big_circle_player.png");
      width: 67px;
      height: 67px;
    }
    &::before {
      background-image: url("../img/small_circle_player.png");
      width: 46px;
      height: 46px;
    }
  }
}

@media (max-width: 1200px) {
  .service-decryption {
    padding: $padding-tablet;
    padding-top: 171px;
  }
}

@media (max-width: 1000px) {
  .service-decryption__item {
    width: 44%;
  }
}

@media (max-width: 1000px) {
  .service-decryption__item {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .service-decryption {
    background-image: none;
  }
}

@media (max-width: 600px) {
  .service-decryption {
    padding: $padding-mobile;
    padding-top: 60px;
  }
  .service-decryption__title {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 5px;
  }
  .service-decryption__subtitle {
    font-size: 12px;
    margin-bottom: 50px;

  }
  .service-decryption__item {
    width: 100%;
    margin-bottom: 50px;
  }
}