@font-face {
	font-family: "Arvo";
	src: url("../fonts/ArvoRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoThin";
	src: url("../fonts/RobotoThin.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoBlack";
	src: url("../fonts/RobotoBlack.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSansSemibold";
	src: url("../fonts/OpenSansSemibold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}



h2,
h3 {
	font-family: 'Arvo', serif;
	font-style: normal;
	font-weight: 400;
	color: #212121;
}

h2 {
	font-size: 36px;
	line-height: 46px;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0 20px;
	background-color: #ffc80a;
	width: auto;
	height: 47px;
	font-family: "RobotoMedium";
	font-size: 12px;
	letter-spacing: 0.24em;
	color: #ffffff;
	border: 0;
	border-radius: 25px;
	box-sizing: border-box;
}
