.book {
  height: 525px;
  display: block;
}

.book__caption-mobile {
  display: none;
}

.book__container-element {
  display: flex;
  position: relative;
}

.book__container-photo {
  display: flex;
  overflow: hidden;
  max-width: 534px;
  max-height: 460px;
}

.book__photo {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.book__container-switch {
  position: absolute;
  left: 0;
  bottom: -60px;
  display: flex;
}

.book__switch {
  font-family: "Montserrat-ExtraBold";
  font-size: 14px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  color: #d9d9d9;
  transition: 0.3s all ease;
  cursor: pointer;
  display: block;
  outline: none;
  &--active {
    border-color: #000000;
    color: #000000;
  }
  &:hover,
  &:focus {
    border-color: #000000;
    color: #000000;
  }
}

.book__block1 {
  position: relative;
  width: 534px;
  height: 460px;
}

.book__container-photos {
  width: 534px;
  height: 460px;
  display: none;
  transition: 0.3s opacity ease;
}

.book__container-photos-slick {
  width: 100%;
  height: 100%;
}

.book__container-map {
  width: 534px;
  height: 460px;
  transition: 0.3s opacity ease;
  display: none;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.book__container-photos {
  .slick-next,
  .slick-prev {
    width: 17px;
    height: 30px;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
    background-size: 100%;
    top: auto;
    bottom: -60px;
    transform: none;
    &::before {
      display: none;
    }
    &:hover,
    &:focus {
      background-image: url("../img/next.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  .slick-prev {
    transform: rotate(180deg);
    left: auto;
    right: 63px;
    display: none !important;
  }
  .slick-next {
    right: 7px;
    display: none !important;
  }
  .slick-disabled {
    opacity: 0.6;
  }
}

.book__block2 {
  font-family: "Montserrat-Regular";
  margin-left: 56px;
  max-width: 317px;
}

.book__block-active {
  display: block;
  .slick-next,
  .slick-prev {
    display: inline-block !important;
  }
}

.book__capadano {
  font-size: 9px;
  margin-bottom: 0;
}

.book__caption {
  font-family: "Montserrat-Bold";
  font-size: 29px;
  margin-top: 0;
}

.book__stars-container {
  display: block;
  padding: 0;
  margin: 0;
  &-1 {
    .book__star:first-of-type {
      background-image: url("../img/star_active.png");
    }
  }
  &-2 {
    .book__star:nth-child(-n + 2) {
      background-image: url("../img/star_active.png");
    }
  }
  &-3 {
    .book__star:nth-child(-n + 3) {
      background-image: url("../img/star_active.png");
    }
  }
  &-4 {
    .book__star:nth-child(-n + 4) {
      background-image: url("../img/star_active.png");
    }
  }
  &-5 {
    .book__star:nth-child(-n + 5) {
      background-image: url("../img/star_active.png");
    }
  }
}

.book__star {
  float: left;
  width: 15px;
  height: 14px;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  background-position: center;
  list-style: none;
  margin-right: 5px;
}

.book__free {
  display: block;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  span {
    font-family: "Montserrat-ExtraBold";
    color: #e9013c;
  }
}

.book__calculate {
  max-height: 160px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 317px;
  width: 100%;
}

.book__calculate__button-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Montserrat-Bold";
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.book__checkbox {
  display: flex;
  align-items: baseline;
  width: 53.96825396825397%;
}

.book__input-label {
  font-size: 16px;
  padding-left: 18px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
  }
}

.book__input {
  display: none;
  &:checked {
    + .book__input-label::before {
      content: '';
      position: absolute;
      left: 2px;
      bottom: 5px;
      width: 6px;
      height: 6px;
      box-sizing: border-box;
      background-color: #e9013c;
    }
  }
}

.book__quantity,
.book__quantity-container {
  align-items: baseline;
  display: flex;
}

.book__quantity {
  margin: 0;
  font-size: 14px;
}

.book__price {
  font-size: 14px;
  margin: 0;
  padding-left: 30px;
  display: block;
  box-sizing: border-box;
}

.book__text-info-container {
  font-size: 0;
  padding-bottom: 0;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  opacity: 0;
  transition: font-size .25s,
  margin .25s,
  padding .25s,
  opacity .5s .25s;
  &--active {
    opacity: 1;
    font-size: 12px;
    padding-bottom: 11px;
  }
}

.book__calculate__item-container {
  position: relative;
  padding-top: 20px;
}

.book__down {
  cursor: pointer;
  transition: 0.3s all ease;
  &--upp {
    transform: rotate(180deg);
  }
}

.book__price {
  width: 24%;
  text-align: left;
}

.book__quantity-container {
  width: 13.015873015873016%;
  justify-content: center;
  text-align: center;
}

.book__calculate-button-container {
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;

}

.book__calculate-button {
  color: #e9013c;
  max-width: 167px;
  width: 100%;
  min-height: 33px;
  display: block;
  text-align: center;
  line-height: 33px;
  border: 1px solid #e9013c;
  box-sizing: border-box;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat-ExtraBold";
  transition: 0.3s all ease;
  &:hover {
    background-color: red;
    color: white;
  }
}

.book__total-container {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  margin: 0;
  span {
    font-size: 20px;
    font-family: "Montserrat-ExtraBold";
  }
  sup {
    font-size: 12px;
  }
}

.book__socials {
  display: flex;
  align-items: center;
}

.book__social-text {
  font-size: 14px;
  font-family: "Montserrat-ExtraBold"
}

.book__social-link {
  img {
    height: 15px;
  }
  &--t {
    img {
      height: 23px;
    }
  }
  &--google {
    img {
      width: 24px;
      height: 21px;
    }
  }
}

.book__checkbox,
.book__quantity-container,
.book__price {
  padding-bottom: 9px;
  box-sizing: border-box;
}

.book__container-down {
  width: 20px;
  display: flex;
  height: 20px;
  cursor: pointer;
}

.book__down {
  margin: auto;
}

.book__button-focus:focus {
  &::after {
    content: attr(data-title);
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9013c;
    color: white;
    font-size: 9px;
    width: 100%;
  }
}

@media (max-width: 1439px) {
  .book__container-element {
    align-items: center;
  }
  .book__block2 {
    margin-left: 3.888888888888889vw;
  }
  .book__container-map,
  .book__block1,
  .book__container-photo,
  .book__container-photos {
    width: 37.083333333333336vw;
    height: 31.944444444444443vw;
  }
}

@media (max-width: 1000px) {
  .book {
    height: auto;
    width: 100%;
  }
  .book__block1 {
    width: 100%;
    max-width: 53.4vw;
    height: 46vw;
    max-height: none;
  }
  .book__container-element {
    align-items: flex-start;
    width: 100%;

  }

  .book__container-photo,
  .book__container-photos {
    width: 100%;
    height: 46vw;
  }

  .book__container-map {
    width: 100%;
    height: 46vw;
  }
}

@media (max-width: 900px) {
  .book {
    flex-direction: column;
  }
  .book__caption-mobile {
    display: block;
    text-align: center;
    .book__capadano {
      margin-top: 0;
    }
  }
  .book__container-element {
    flex-direction: column;
  }
  .book__container-photo,
  .book__block1 {
    width: 100%;
    max-width: none;
    height: auto;
    max-height: none;
  }
  .book__photo {
    width: 100%;
    height: 100%;
  }

  .book__container-photos {
    position: static;
    height: auto;
  }

  .book__block1 {
    padding-bottom: 10vw;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .book__block2 {
    margin-left: 0;
    max-width: none;
    width: 100%;
  }
  .book__calculate {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
  }
  .book__price {
    padding-left: 0;
    text-align: center;
  }
  .book__container-switch {
    top: auto;
    bottom: 3vw;
    z-index: 2;
  }
  .book__container-map {
    height: 73.333333vw;
  }
  .book__block2 {
    .book__capadano,
    .book__caption {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .book__input-label {
    font-size: 14px;
  }
  .book__caption-mobile {
    .book__caption {
      font-size: 5vw;
      font-family: "Montserrat-Bold";
    }
  }
  .book__calculate-button-container {
    flex-direction: column-reverse;
  }
  .book__total-container {
    margin-bottom: 10px;
  }
}
