.menu {
  background-image: linear-gradient(to right, #f9f9f9 0%, #f9f9f9 100%);
  background-position: right 100%;
  background-size: 63.694444% 100%;
  background-repeat: no-repeat;
  align-items: center;
  height: 733px;
  display: none;
}

.menu__item-container-img {
  width: 100%;
  height: 100%;
  max-width: 94px;
  max-height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 27px;
}

.menu__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu__caption {
  font-family: "Montserrat-Bold";
  font-size: 29px;
}

.menu__name {
  font-family: "Montserrat-Bold";
  font-size: 24px;
}

.menu__item-caption {
  font-family: "Montserrat-Bold";
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu__item-main-info {
  font-size: 12px;
  font-family: "Montserrat-Regular";
  margin-top: 5px;
}

.menu__item {
  display: flex;
}

.menu__caption {
  margin-top: 0;
}

.menu__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.menu__img {
  width: 100%;
  height: 100%;
  max-width: 398px;
  max-height: 597px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 73px;
  img {
    width: 100%;
    height: auto;
  }
}

.menu__container-menu {
  padding-right: 85px;
  box-sizing: border-box;
  margin-bottom: -5%;
}

.menu__linkAll {
  color: #000;
  font-size: 9px;
  font-family: "Montserrat-ExtraBold";
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -64px;
    height: 1px;
    width: 45px;
    background-color: black;
  }
}

.menu__caption-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .menu {
    height: auto;
  }
  .menu__img {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .menu__container-menu {
    padding-right: 0;
  }
  .menu__caption-mobile {
    font-family: "Montserrat-Bold";
    display: block;
    font-size: 29px;
    text-align: center;
    width: 100%;
  }
  .menu__container {
    flex-direction: column-reverse;
  }
  .menu__img {
    max-width: none;
    max-height: none;
    min-height: auto;
    min-width: auto;
    width: 100%;
    height: auto;
  }
  .menu__caption {
    display: none;
  }
}

@media (max-width: 576px) {
  .menu__caption-mobile {
    font-size: 5vw;
  }
  .menu__item {
    flex-direction: column;
  }
  .menu__item-container-img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .menu__name {
    text-align: center;
  }
}
