.advantages {
  background-color: $bg-color;
  padding: $padding-desktop-top-bottom 20%;
  color: $text-color;
  .wrapper {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

.advantages__headline {
  margin-top: 0;
  color: $text-color;
}

.advantages__list-items {
  text-align: left;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.advantages__list-item {
  width: 47%;
  margin-bottom: 30px;
  padding-left: 69px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: 19px;
  &::after {
    content: attr(data-number);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-family: $button-family;
    position: absolute;
    color: $text-color-dark;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $text-color;
  }
}

@media (max-width: 1000px) {
  .advantages {
    padding: $padding-desktop-top-bottom $padding-desktop;
  }
}

@media (max-width: 700px) {
  .advantages__list-item {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .advantages__list-item {
    padding-left: 37px;
    &::after {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
}

@media (max-width: 400px) {
  .advantages__list-item {
    width: 100%;
  }
}
