.form {
  color: $text-color;
  max-width: 400px;
  height: auto;
  background-color: $bg-color;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-family: $text-family;
  box-shadow: 0 0 12px 2px #000;
  .first__form-h3 {
    font-size: 25px;
    font-family: $h-font-family;
    text-transform: uppercase;
    letter-spacing: $h3-letterSp;
    margin-bottom: 5px;
  }
  .submit,
  .input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: block;
    height: 50px;
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  .input {
    border-bottom: 1px solid #fff;
    color: $text-color;
    &::placeholder {
      font-size: $main-size-text;
      color: $text-color;
    }
  }

  > p {
    margin-top: 2px;
    font-size: 13px;
    font-family: $text-family;
  }
  .button {
    background-color: transparent;
    font-family: $button-family;
    text-transform: uppercase;
    border: 1px solid #fff;
    &:hover {
      background-color: $button-color;
      color: #000;
    }
    &--red {
      border-color: $bg-color;
    }
  }
  .form__name {
    display: none;
  }
}

.form__checkbox-wrapper {
  margin-top: 5px;
  text-align: left;
  a {
    color: $text-color;
  }
}

.form__checkbox {
  display: inline;
  width: auto;
  height: auto;
}

.form__checkbox-label {
  display: inline;
  font-size: 9px;
  margin: 0;
  line-height: 9px;
}

@media (max-width: 700px) {

  .form {
    .first__form-h3 {
      font-size: 17px;
    }
    p {
      font-size: $text-size-mobile;
    }
    .input::placeholder,
    .input {
      font-size: $text-size-mobile;
      height: 25px;
    }
    .form__checkbox-label {
      font-size: 9px;
    }
  }

}

