.payback {
  padding: $padding-desktop-top-bottom $padding-desktop;
  text-align: center;
  background-color: $bg-color-main;
}

.payback__headline {
  margin-top: 0;

}

.payback__table-headline {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0;
  text-align: left;
  padding-left: 20px;
  color: $bg-color;
  font-family: $h-font-family;
}

.payback__table-item-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  p {
    margin: 0;
  }
}

.payback__calculations {
  height: 100px;
  border-right: 2px solid $bg-color;
  flex-direction: column;
  display: flex;
  justify-content: space-between;

}
.payback__table-items {
  width: 33%;
}

.payback__sum {
  font-size: 18px;
}

.payback__items {
  display: flex;
}

.payback__clear-sum {
  span {
    color: $bg-color;
  }
  + p {
    margin: 30px 0;
    font-family: $h-font-family;
    font-size: 20px;
  }
}

.payback__warning {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}

.payback__all-sum {
  font-family: $h-font-family;
}