.price {
  text-align: center;
  background-color: $bg-color;
  color: $text-color;
  padding: $padding-desktop-top-bottom $padding-desktop;
  box-sizing: border-box;
}

.price__price-tag-items {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.price__headline {
  color: $text-color;
  margin-top: 0;
}

.price__price-tag-old {
  margin: 0;
  text-align: right;

  span {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $text-color;
      transform: rotate(7deg);
      bottom: 50%;
      left: 0;

    }
  }
}

.price__price-tag {
  font-family: $button-family;
  font-size: 40px;
  margin: 0;
  span {
    font-size: 20px;
  }
}

.price__price-tag-text {
  margin-top: 0;
}

.price__button {
  margin-top: 30px;
}

.price__franchise {
  margin-right: 100px;
}

.price__description {
  max-width: 70%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .price__price-tag-items {
    flex-direction: column;
    align-items: center;
  }
  .price__franchise {
    margin-right: 0;
  }
}
@media (max-width: 750px) {
  .price__description {
    max-width: 100%;
  }
}