.reviews {
  text-align: center;
  padding: $padding-desktop-top-bottom 0;
  background-color: $bg-color-main;
}

.reviews__headline {
  margin-top: 0;
}

.reviews__item-wrapper {
  padding: 0 20%;
  box-sizing: border-box;
  color: $text-color-dark;
  display: flex;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 70px;
  }
}

.reviews__info-name {
  margin-top: 0;
  font-family: $button-family;
  color: $text-color-dark;
  font-size: 20px;
}

.reviews__info-wrapper {
  text-align: left;
}

.reviews__review {
  font-size: 19px;
}

@media (max-width: 900px) {
  .reviews {
    padding: $padding-desktop-top-bottom $padding-desktop;
  }
  .reviews__item-wrapper {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .reviews__item-wrapper {
    display: block;
    text-align: center;
    img {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  .reviews__info-wrapper {
    text-align: center;
  }
  .reviews__review {
    font-size: 14px;
  }
}