.scheme {
  text-align: center;
  padding: $padding-desktop-top-bottom $padding-desktop;
  background-color: $bg-color-main;
}

.scheme__items-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scheme__items {
  width: 40%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.scheme__headline {
  margin-top: 0;
}

.scheme__item {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  font-size: 17px;
  padding-left: 49px;
  box-sizing: border-box;
  &::after {
    content: attr(data-number);
    position: absolute;
    left: 0;
    top: 50%;
    font-family: $h-font-family;
    font-size: 50px;
    transform: translateY(-50%);
    color: $bg-color;
  }
  &-headline {
    font-size: 20px;
    margin: 0;
    text-decoration: underline $bg-color;
    font-family: $button-family;
  }
  &-description {
    margin: 0;
  }
}

.scheme__beatify {
  width: 50%;
  text-align: center;
  img {
    width: 100%;
    border-radius: 15px;
    height: auto;
  }
}

@media (max-width: 900px) {
  .scheme__items-wrapper {
    display: block;
  }
  .scheme__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .scheme__item {
    width: 45%;
  }
  .scheme__beatify {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .scheme__item {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .scheme__item {
    width: 100%;
  }

}