a {
  text-decoration: none;
}

.body--overflow {
  overflow: hidden;
}

.button {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
}
/*


body {
  margin: 0 auto;
  overflow-x: hidden;
}*/
