.about {
  padding: 0 20px;
  padding-top: 50px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.about__text {
  h2 {
    margin-top: 0;
    font-size: 21px;
    line-height: 24px;
    font-weight: 900;
    br {
      display: none;
    }
  }
}

.about__video {
  text-align: right;
  h2 {
    font-weight: 900;
    font-size: 34px;
    color: #f8f8f8;
    margin-bottom: 7px;
  }
  video {
    width: 100%;
    height: auto;
  }
}

.advantages__buttons {
  a {
    display: none;
  }
}

@media (min-width: 768px) {
  .about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
    padding-top: 50px;
  }

  .about__text {
    width: 45%;
    max-width: 416px
  }

  .about__video {
    width: 45%;
    h2 {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 1440px) {
  .about {
    padding: 50px 200px 0 200px;
  }
  .about__text {
    h2 {
      font-size: 34px;
      line-height: 40px;
      margin-bottom: 60px;
      br{
        display: block;
      }
    }
    width: 416px;
  }
  .about__video {
    h2 {
      font-size: 68px;
      line-height: 60px;
    }

    video {
      width: 505px;
      height: 314px;
    }
  }
}