.advantages {
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 100px;
  h2 {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  p {
    line-height: 18px;
    padding-top: 5px;
  }
}
.advantages__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.advantages__item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.advantages__caption {
  padding-left: 50px;
  position: relative;
  font-size: 14px;
  font-weight: 900;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
  }
  &--control::after {
    background-image: url("../img/goal.svg");
  }
  &--effect::after {
    background-image: url("../img/brainstorm.svg");
  }
  &--grammar::after {
    background-image: url("../img/book.svg");
  }
  &--books:after {
    background-image: url("../img/elearning.svg");
  }
  &--logic:after {
    background-image: url("../img/teamwork.svg");
  }
  &--create:after {
    background-image: url("../img/inspection.svg");
  }
}
.advantages__buttons a {
  font-size: 12px;
  font-weight: 900;
  color: #7d7d7d;
  text-decoration: none;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/whatsapp.svg);
    background-repeat: no-repeat;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.advantages__button {
  background-color: #fee308;
  &:hover {
    background-color: #fcbc03;
  }
}

