.dispatch {
  box-sizing: border-box;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(254, 227, 8) 0%, rgb(252, 188, 3) 100%);
  padding: 0 20px 0 35px;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.dispatch__container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;

}

.dispatch__email {
  font-weight: 500;
  font-size: 14px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #222222;
  height: 43px;
  width: 90%;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 35px;
  &::placeholder {
    color: #222222;
  }
}

.dispatch__text {
  h3 {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 0;

  }
  p {
    font-size: 9px;
    margin-top: 2px;
    span {
      color: #ffffff;
    }
  }
}
.dispatch__button {
  margin-top: 25px;
  font-weight: bold;
  width: 180px;
  &:hover {
    background-color: #f8edc6;
  }
}