.popup {
  display: none;
  &-active {
    display: block;
  }
}

.popup__background {
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.popup__form-container {
  padding: 30px 20px 50px 20px;
  height: 100%;
  max-height: fit-content;
  overflow-y: auto;
  z-index: 15;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90.625%;
  margin: 0 auto;
  background-color: #ffffff;
  max-width: 863px;
  .input {
    width: 100%;
  }
  h2 {
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
}

.popup__button {
  margin-top: 30px;
  background-color: #fee308;
  width: 180px;
  &:hover {
    background-color: #fcbc05;
  }
}

.popup__close {
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.popup-submit {
  p {
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
  }
}
#popup__name-services {
  display: none;
}

@media (min-width: 768px) {
  .popup__form-container {
    padding: 50px;
    h2 {
      font-size: 18px;
      letter-spacing: 0.025em;
    }
  }

  .form-item {
    width: 30%;
    input {
      width: 100%;
    }
    &:last-of-type {
      width: 100%;
    }
  }

  .form-item--comment {
    width: 100%;
  }

  .popup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-item--comment {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .popup__form-container {
    padding: 50px 70px;
  }
}
