.step {
  padding: 0 20px;
  margin-top: 50px
}

.step_items {
  box-sizing: border-box;
}

.step__caption {
  display: flex;
  align-items: center;
}

.step__number-text {
  font-size: 100px;
  font-weight: 900;
  line-height: 100px;
  color: #fdd206;
  margin: 0;
  margin-right: 5px;
}

.step__description {
  font-size: 14px;
  font-weight: 900;
  span {
    color: #fdd206;
  }
}

.step__gradient-text {

}

.step__container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

.step__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  p:last-of-type {
    font-size: 12px;
    font-weight: 800;
    margin: 0;
    max-width: 96px;
    line-height: 12px;
  }
  &:nth-child(2n) {
    align-self: flex-end;
  }
}

.step__item-number {

  font-size: 14px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main-color;
  margin: 0 10px 0 0;
}

.step__button-container {
  h2 {
    font-size: 14px;
    font-weight: 900;
    max-width: 435px;
  }
}

.step__button {
  background-color:  $main-color;
  margin-top: 20px;
  margin-bottom: 110px;
  &:hover {
    background-color: #fcbc05;
  }
}

@media (min-width: 768px) {
  .step {
    background: url("../img/wave_advantages.png") no-repeat 90% 34%,
    url("../img/triangle_about.png") no-repeat 94% 77%;
  }
  .step {
    padding: 0;
  }
  .step__item-number {
    box-shadow: 0px 0px 61px 0px $main-color;
  }
  .step_items {
    padding: 50px 50px;
    position: relative;
    height: 612px;
    background-image: url("../img/rounds.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 570px;
  }

  .step {
    margin-top: 0;
  }

  .step__item {
    position: absolute;
    p {
      font-size: 16px;
    }
  }
  .step__item p:last-of-type {
    max-width: 112px;
    z-index: 1;
  }
  .step__item {
    &--1 {
      top: 42px;
      left: 324px;
    }
    &--2 {
      top: 234px;
      left: 247px;
      p:last-of-type {
        max-width: 200px;
      }
    }
    &--3 {
      top: 290px;
      left: 143px;
      p:last-of-type {
        width: 60px;
      }
    }
    &--4{
      top: 321px;
      left: 413px;
    }
    &--5{
      top: 359px;
      left: 249px;
    }
    &--6{
      top: 386px;
      left: 103px;
    }
    &--7 {
      top: 431px;
      left: 454px;
    }
    &--8 {
      z-index: 1;
      top: 495px;
      left: 195px;
    }

    &--9 {
      top: 568px;
      left: 86px;
    }
  }

  .step__container {
    margin: 0;
    max-width: 100%;
    display: block;
  }

  .step__number-text {
    font-size: 200px;
    line-height: 200px;
    color: $main-color;
  }

  .step__description {
    font-size: 20px;
    line-height: 20px;
  }

  .step__button-container {
    z-index: 5;
    padding: 0 50px;
    text-align: right;
    h2 {
      font-size: 18px;
      margin-left: auto;
    }
  }

  .step__button {
    margin-bottom: 20px;
  }

  .step__item--9 p:first-of-type{
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 200px;
      height: 200px;
      background-image: url("../img/rounds__min.png");
      background-repeat: no-repeat;
      bottom: -81px;
      left: -80px;
      background-size: 100%;
    }
  }
  .step__caption {
    position: relative;
    top: 41px;
    left: 53px;
  }
}
@media (min-width: 1024px) {
  .step__button-container {
    padding: 0 50px;
  }
  .step_items {
    background-size: 755px;
    height: 760px
  }
  .step__item {
    p:last-of-type{
      font-size: 16px;
      line-height: 17px;
      max-width: 224px;
    }
    &--1 {
      top: 36px;
      left: 431px;
    }
    &--2 {
      top: 308px;
      left: 318px;
    }
    &--3 {
      top: 369px;
      left: 198px;
      p:last-of-type {
        width: auto;
      }
    }
    &--4{
      top: 387px;
      left: 571px;
    }
    &--5{
      top: 441px;
      left: 360px;
    }
    &--6{
      top: 493px;
      left: 159px;
    }
    &--7 {
      top: 508px;
      left: 643px;
    }
    &--8 {
      top: 621px;
      left: 238px;
    }
    &--9 {
      top: 736px;
      left: 185px;
    }
  }
  .step__caption {
    top: 79px;
    left: 104px;
  }
}

@media (min-width: 1200px) {
  .step__button-container {
    padding: 0 200px;
  }
  .step_items {
    height: 1014px;
    background-position: -37px -642px;
    background-size: 1182px;
    padding: 50px 200px 0 200px;
  }
  .step__description {
    font-size: 36px;
    line-height: 36px;
  }
  .step__number-text {
      font-size: 250px;
      line-height: 250px;
  }

  .step__item {
    &--1 {
      top: 36px;
      left: 435px;
    }
    &--2 {
      top: 325px;
      left: 479px;
    }
    &--3 {
      top: 424px;
      left: 284px;
    }
    &--4{
      top: 489px;
      left: 587px;
    }
    &--5{
      top: 530px;
      left: 803px;
    }
    &--6{
      top: 614px;
      left: 282px;
    }
    &--7 {
      top: 700px;
      left: 910px;
    }
    &--8 {
      top: 814px;
      left: 283px;
    }
    &--9 {
      top: 992px;
      left: 229px;
    }
  }
  .step__item--9 p:first-of-type::after {
    bottom: -136px;
    left: -137px;
    width: 315px;
    height: 315px;
  }
  .step__item-number {
    margin-right: 15px;
  }
}
