.body {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block {
    width: 400px;
    height: 400px;
}

.block0 {
    background-color: aqua;
    margin-left: 4%;
}

.block1 {
    background-color: blue;
    align-self: flex-end;
    margin-right: 15%;
    margin-top: -200px;
}

.block2 {
    background-color: brown;
    margin-left: 12%;
    margin-top: -100px;
}

.block3 {
    background-color: blueviolet;
    align-self: flex-end;
    margin-right: 25%;
    margin-top: 40px;
}

.block4 {
    background-color: darkmagenta;
    margin-left: 12%;
    margin-top: -50px;
}


@media (max-width: 1000px) {
    .block0,
    .block1,
    .block2,
    .block3,
    .block4 {
        margin: 0;
        width: 100%;
        margin-bottom: 10px;
    }
}