.body-portfolio {
  overflow-y: scroll;
}

.main-portfolio {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 0.25px;
  padding-top: 0;
  padding-left: 90px;
  min-height: calc(100vh - 170px);
}

.gallery__photo {
  display: block;
  box-sizing: border-box;
  width: 25%;
  height: auto;
  padding: 0.25vw;
}

.grid {
  margin: 0 auto;
}

.gallery__img {
  width: 100%;
  height: auto;
  display: block;
}

.filter-button-open {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  background-image: url("../img/filter__icon.svg");
  background-size: 17px 23px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
  transition: 0.4s all ease;
  &--open {
    background-image: url("../img/close_white.svg");
    background-color: black;
  }
}

.logo-portfolio {
  position: fixed;
  right: 25px;
  top: 36px;
  width: 172px;
  height: 36px;
  background-image: url("../img/logo_black.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 2;
  transition: 0.4s all ease;

}

@media (max-width: 900px) {
  .gallery__photo {
    width: 33.33%;
  }
}

@media (max-width: 700px) {
  .gallery__photo {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .logo-portfolio {
    display: none;
  }
  .main-portfolio {
    padding-left: 0;
  }

  .filter-button-open {
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 500px) {
  .gallery__photo {
    width: 100%;
  }
}