.contacts {
	padding: 10px 20px;
	text-align: center;
	padding-bottom: 20px;
}

.contacts__social {
	display: flex;
	justify-content: center;
	padding: 0;
}

.contacts__social li:not(:last-of-type) {
	margin-right: 19px;
}

.contacts__button {
	border: none;
	background-color: #FFA600;
	width: 155px;
	height: 34px;
	font-weight: bold;
	line-height: 25px;
	font-size: 18px;
	text-align: center;
	letter-spacing: -40%;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
	animation: pulse2 2s infinite;
}
