.header {
	display: flex;
	justify-content: space-between;
	min-width: 320px;
	padding: 0 20px;
	height: 80px;
	align-items: center;
	background-color: #202020;
	box-sizing: border-box;
}

.header__name b {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 80%;
}

.header__name p {
	font-size: 9px;
	line-height: 80%;
	margin: 0;

}

.header__button {
	border: none;
	background-color: #fff;
	height: 3px;
	width: 30px;
	box-shadow: 0px 11px 0 0 #fff, 0px -11px 0 0 #fff;
	;
}

.header__links li {
	list-style: none;
}

.header__nav {
	display: none;
}
