.skills__progress {
	width: 61px;
	height: 6px;
	background: #795014;
	border-radius: 10px;
}

.skills {
	padding: 10px 20px;
}

.skills img {
	margin-bottom: 7px;
}

.skills li {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 38px;
}


.skills li:not(:nth-child(3n)) {
	margin-right: 27px;
}

.skills ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	padding: 0;
}

.skills__progres-bar {
	background: #FFA600;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	height: 6px;
}

.skills__items--html .skills__progres-bar {
	width: 56px;
}

.skills__items--js .skills__progres-bar {
	width: 13px;
}

.skills__items--css .skills__progres-bar {
	width: 56px;
}

.skills__items--figma .skills__progres-bar {
	width: 48px;
}

.skills__items--ps .skills__progres-bar {
	width: 51px;
}

.skills__items--ai .skills__progres-bar {
	width: 13px;
}

.skills__items--sass .skills__progres-bar {
	width: 46px;
}

.skills__items--gulp .skills__progres-bar {
	width: 52px;
}

.skills__items--less .skills__progres-bar {
	width: 53px;
}

.skills__items--svg .skills__progres-bar {
	width: 42px;
}

.skills__items--git .skills__progres-bar {
	width: 36px;
}

.skills__items--bem .skills__progres-bar {
	width: 20px;
}

ul.skills__items li.skills__items--browser {
	margin: 0;
}

.skills__items--browser .skills__progress {
	width: 148px;
	height: 6px;
}

.skills__items--browser .skills__progres-bar {
	width: 143.9px;
}

.skills__items--browser p {
	font-weight: bold;
	line-height: 11px;
	font-size: 10px;
	letter-spacing: -4%;
	text-transform: uppercase;
}
