.footer {
  box-sizing: border-box;
  padding: 0 200px;
}

.footer h2 {
  float: left;
  width: 327px;
}

.footer input:not([type='submit']) {
  font-weight: 500;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #222222;
  color: #222222;
  height: 43px;
  width: 180px;
  margin-bottom: 30px;
  font-size: 15px;
  &::placeholder {
    color: #222222;
  }
}

.footer input.question {
  width: 440px;
}

.footer__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 55px;
}

.footer-submit {
  display: flex;
  align-items: center;
  max-width: 536px;
  p {
    font-size: 10px;
    font-weight: 500;
  }
}

.footer-submit .button {
  background-color: #fcbc03;
  max-width: 180px;
  margin-right: 33px;
}
