body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 100%;

	min-width: 780px;
	max-width: 1366px;
	margin: 0 auto;
}

.link,
a.link {
	text-decoration: none;

	color: #fff;
	border-bottom: 1px solid #fff;
}

.footer__top-link-left,
.footer__top-social {
	padding: 0;

	list-style: none;
}

.footer {
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	width: 100%;
	min-width: 780px;
	min-height: 200px;
	padding: 25px 18px 17px;

	color: #fff;
	background-color: #4f4f4f;

	justify-content: space-between;
}

.footer__bottom,
.footer__top {
	display: flex;

	width: 100%;
	min-height: 18px;

	justify-content: space-between;
	align-items: center;
}

div.footer__bottom {
	min-height: 71px;

	align-items: flex-end;
}

.footer__bottom-adress,
.footer__bottom .link {
	font-weight: 300;

	color: #f2f2f2;
}

.footer__top-social {
	display: flex;

	margin-top: 2.1px;
	margin-left: -36px;
}

.footer__top-social a {
	font-size: 36px;

	display: flex;

	width: 50px;
	height: 50px;

	text-decoration: none;

	color: #fff;
	border-radius: 50%;
	background-color: #828282;

	justify-content: center;
	align-items: center;
}

.footer__top-social a:not(:last-of-type) {
	margin-right: 10px;
}

.footer__top-link-left {
	display: flex;

	letter-spacing: 1.2px;

	justify-content: flex-start;
}

.footer__top-link-left a {
	color: #fff;
}

.footer__top-link-left li {
	margin-right: 10px;
}

.fa-facebook {
	font-size: 36px;
}

a.footer__top-call {
	font-size: 21px;
	line-height: 22px;

	position: relative;

	display: flex;

	margin-right: 45px;

	border-bottom-style: dashed;

	align-content: center;
}

.footer__top-call i {
	font-size: 24px;

	position: absolute;
	top: 50%;
	right: -45px;

	display: flex;

	width: 35px;
	height: 35px;

	transform: translateY(-50%);

	border-radius: 50%;
	background-color: #8139c5;

	justify-content: center;
	align-items: center;
}

.footer__bottom-contacts > adress {
	font-size: 16px;

	margin-bottom: 11px;

	letter-spacing: -.2px;
}

.footer__bottom-contacts p {
	font-weight: normal;
	line-height: 117%;

	margin-top: 14px;
	margin-bottom: 1px;
	margin-left: -7px;

	letter-spacing: .2px;

	color: #fff;
}

.footer__bottom-adress p {
	margin-top: 13px;
	margin-bottom: 3px;
}

.footer__bottom-adress {
	display: flex;
	flex-direction: column;

	margin-right: -98px;

	align-items: center;
}

.footer__bottom-adress > adress {
	line-height: 121%;

	text-align: center;
}

.footer__bottom-made {
	text-align: right;
}

.footer__bottom-made .link {
	display: inline-block;

	margin-bottom: 8px;
}
