.owox p {
	margin: 0;
}

@media (max-width:  999px) {
	.owox {
		display: flex;
		justify-content: center;
	}
	.owox div {
		width: 50%;
	}
	.owox__logo {
		text-align: right;
		margin-right: 10px;
	}

}
