@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/MontserratBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/MontserratBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/MontserratMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Prata-Regular";
  src: url("../fonts/Prata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

