@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/AvenirBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/AvenirLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/AvenirBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirMedium";
  src: url("../fonts/AvenirMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}



@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
