.about-me {
	padding: 10px 20px;
	background-color: #202020;
	background-color: #242424;
	.bi3
}

.about-me p {
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 14px;
}

@media(min-width: 890px) {
	.about-me {
		width: 50%;
		background-color: #282828;
		background-image: url(../img/fon.png);
		position: relative;
		&::after {
			content: "";
			background: linear-gradient(to bottom, rgba(255, 166, 0, 0.2) 0%, rgba(255, 166, 0, 0.5) 40%, rgba(255, 166, 0, 0.5) 51%, rgba(255, 166, 0, 0.5) 60%, rgba(255, 166, 0, 0.2) 100%);
			width: 1px;
			height: 95%;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-47%);
		}
	}
}
