.contacts {
	padding: 10px 20px;
	text-align: center;
	padding-bottom: 20px;
	.bi1;
}

.contacts-footer__social {
	display: flex;
	justify-content: center;
	padding: 0;
}

.contacts-footer__social li:not(:last-of-type) {
	margin-right: 19px;
}

.contacts-footer__social li {
	list-style: none;
	width: 12%;
}

.contacts__button {
	min-width: 150px;
	max-width: 250px;
	font-size: 19px;
	height: 38px;
	padding: 0 37px;
}

.contacts-footer__social img {
	width: 100%;
	height: 100%;
}


@media(min-width: 890px) {
	.contacts {
		background-image: url(../img/fon.png);
	}
}

@media(min-width: 890px) {
	.contacts__button {
		font-size: 22px;
		height: 45px;
		padding: 0 37px;
	}
}
