.mywork {
	background-color: #202020;
	padding: 10px 20px;
	background-image: url(../img/fon.png);
}

.mywork__all {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&--mishka {
		margin-top: 10px;
	}
}

.mywork__all li {
	position: relative;
	list-style: none;
	margin-bottom: 11px;
	line-height: 18px;
	font-size: 14px;
	&::before {
		content: "";
		position: absolute;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background-color: #F2994A;
		left: -13px;
		top: 6px;
	}
}

.mywork__all b {
	align-self: center;
	font-weight: bold;
	line-height: normal;
	font-size: 17px;
	text-transform: capitalize;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		right: -23px;
		bottom: -24%;
		transform: translateY(-34%);
		border: 10px solid transparent;
		border-top: 10px solid #F2994A;
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
}

.mywork__all p {
	line-height: 18px;
	font-size: 14px;
	margin-bottom: 0;
	align-self: flex-start;
}

.mywork__all img {
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
	border-radius: 9px;
	position: relative;
}

.mywork__img picture {
	position: relative;
	&::after {
		content: "Посмотреть";
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #FFA600;
		min-width: 150px;
		max-width: 250px;
		height: 34px;
		font-weight: bold;
		line-height: 25px;
		font-size: 18px;
		text-align: center;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.75);
		border-radius: 20px;
		box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
		animation: pulse2 2s infinite;
	}
}

.mywork__description a {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	min-width: 150px;
	max-width: 164px;
}

.mywork__all picture {
	width: 100%;
	height: 100%;
}

.mywork__description {
	max-height: 800px;
	overflow: hidden;
	transition: 0.6s linear;
	width: 100%;
}


.mywork__description--close {
	max-height: 0;
}

.mywork__container-img {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100%;
	margin-bottom: 7px;
	cursor: pointer;
}

@media(min-width: 600px) {
	.mywork__description {
		border: 1px solid #FFA600;
		border-radius: 10px;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.mywork__description--close {
		border-color: transparent;
	}
	.mywork__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.mywork__all {
		margin-top: 10px;
		width: 48%;
		height: 100%;
	}
}
