.web {
	background-color: #202020;
	padding: 10px 20px;
	.bi3;
}

.web picture {
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

.web img {
	width: 100%;
	height: 100%;
}

.web picture:nth-child(2) {
	margin-top: 22px;
}

.web__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media(min-width: 600px) {
	.web picture {
		width: 49%;
		height: 100%;
	}
	.web picture:nth-child(2),
	.web picture {
		margin-top: 0;
	}
	.web__container {
		align-items: flex-start;
		padding-top: 22px;
	}
}
